@* @using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using TravelCompany.Infrastructure.Persistence.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

        <a class="dropdown-toggle profile-pic"
           data-bs-toggle="dropdown"
           href="#"
           aria-expanded="false">
            <div class="avatar-sm">
                <img src="/assets/img/profile.jpg"
                     alt="..."
                     class="avatar-img rounded-circle" />
            </div>
            <span class="profile-username">
                <span class="op-7">Hi,</span>
                <span class="fw-bold">@User.Identity?.Name</span>
            </span>
        </a>
        <ul class="dropdown-menu dropdown-user animated fadeIn">
            <div class="dropdown-user-scroll scrollbar-outer">
            <li>
                <div class="user-box">
                    <div class="avatar-lg">
                        <img src="/assets/img/profile.jpg"
                             alt="image profile"
                             class="avatar-img rounded" />
                    </div>
                    <div class="u-text">
                        <h4>@User.FindFirst(ClaimTypes.GivenName)!.Value</h4>
                        <p class="text-muted">@User.FindFirst(ClaimTypes.Email)!.Value</p>

                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account Setting</a>
                <div class="dropdown-divider"></div>
                <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                    <button type="submit" class="dropdown-item" >Logout</button>
                </form>
            </li>
            </div>
        </ul>


}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
 *@