@model IEnumerable<UserViewModel>

@section Styles {
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />

}


@{
    var breadcrumb = new List<string>
                            {
                                "Users",
                                "Users List"
                            };

    ViewData["Breadcrumb"] = breadcrumb;
}

<div class="d-flex justify-content-end mb-20">

    <a class="btn btn-light-primary btn-sm " asp-controller="Users" asp-action="Create">
        New User
    </a>

 
</div>


    <div class="table-responsive mt-3 mb-3">

     
        <table id="Users_List_Table" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800 px-7">
                    <th>UserName</th>
                    <th>Email</th>
                    <th>FullName</th>
                    <th>Available</th>
                    <th>Station</th>
                    <th>Updated On</th>
                    <th class="text-end"><span class="me-10">Actions</span></th>

                </tr>
            </thead>
            <tbody>


                @foreach (var user in Model)
                {
                    <partial name="_UserRow" model="@user" />
                }


            </tbody>
        </table>


    </div>


     @*    <table class="table table-hover table-row-dashed table-row-gray-300 gy-0 gx-0 align-middle" id="datatable">
            <thead>
                <tr class="fw-bold fs-6 text-gray-800" style="height: 20px; padding:0px">
                    <th class="text-dark  fw-bold" style="padding:20px 20px!important;" scope="col">UserName</th>
                    <th class="text-dark  fw-bold" style="padding:20px 5px!important" scope="col">Email</th>
                    <th class="text-dark  fw-bold" style="padding:20px 5px!important" scope="col">FullName</th>
                    <th class="text-dark  fw-bold" style="padding:20px 5px!important" scope="col">Available</th>
                    <th class="text-dark  fw-bold" style="padding:20px 5px!important" scope="col">Updated On</th>
                    <th class="text-dark  fw-bold" style="padding:20px 5px!important" scope="col">Actions</th>
          
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <partial name="_UserRow" model="@user" />
                }


            </tbody>
         </table>
 *@






@section Plugins
{
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
}


@section Scripts {

    <script src="/js/Users.js" asp-append-version="true"></script>

}