@using TravelCompany.Domain.Entities

@model RoutesViewModel



@section Styles {

	<link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
	<link href="~/assets/plugins/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

	<style>
		.sticky-card {
			position: sticky;
			top: 100px; /* Distance from top when it becomes "stuck" */
		}
	</style>

}



<div class="row">

	<div class="col-md-8  h-500px p-2">

@* 		@{
			var tableId = "test";
			if (Model.ISFromScheduling)
			{
				tableId = "routes-list-table";
			}
			
		} *@

		<table id="Routes_List_Table" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
				<thead>
					<tr class="fw-bold fs-6 text-gray-800 px-7">
						<th></th>
						<th>Route</th>
						<th></th>
						<th></th>
						<th>Stations</th>
						<th></th>

					</tr>
				</thead>
				<tbody>

				
						@foreach (var route in Model.Routes)
						{


							ViewData["Extra"] = Model.ISFromScheduling;


							<partial name="_RouteRow" model="route" />
						}
					


				</tbody>
			</table>

	
	</div>

	<div class="col-md-4">

		<div class="card card-xl-stretch mb-xl-8 sticky-card scroll-y h-500px" id="route-details-card">
		</div>
	</div>

</div>




