@using TravelCompany.Domain.Entities






    <table id="route_scheduled_trips_patterns" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 scroll m-10 animate__animated  animate__fadeIn animate__slower">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 px-7">
                <th>Pattern</th>
                <th></th>
               <th>Duration</th>
                <th></th>
               <th>Trips</th>
                <th></th>


            </tr>
			</thead>
        <tbody>

        <partial name="_RouteTripsRow.cshtml" />
 
          


    </tbody>
    </table>








