

<div class="tab-content d-flex gap-5">

	<!--begin::Tap pane-->
	<div class="tab-pane fade show active" id="kt_list_widget_10_tab_1" role="tabpanel">
		<!--begin::Item-->
		<div class="m-0">
			<!--begin::Wrapper-->
			<div class="d-flex align-items-sm-center mb-5">
				<!--begin::Symbol-->
				<div class="symbol symbol-45px me-4">
					<span class="symbol-label bg-primary">

						<i class="ki-duotone ki-bus text-inverse-primary fs-1">
								<span class="path1"></span>
								<span class="path2"></span>
								<span class="path3"></span>
								<span class="path4"></span>
								<span class="path5"></span>
							</i>
	
					</span>
				</div>
				<!--end::Symbol-->
				<!--begin::Section-->
				<div class="d-flex align-items-center flex-row-fluid flex-wrap gap-15">
					<div class="flex-grow-1 me-2">
						<a href="#" class="text-gray-500 fs-6 fw-semibold">Volvo</a>
						<span class="text-gray-800 fw-bold d-block fs-4">16-PDS-188</span>
					</div>

					<span class="badge badge-lg badge-light-success fw-bold my-2 fs-8">Available</span>
				</div>
				<!--end::Section-->
			</div>
			<!--end::Wrapper-->
			<!--begin::Timeline-->
			<div class="timeline">
				<!--begin::Timeline item-->
				<div class="timeline-item align-items-center mb-7">
					<!--begin::Timeline line-->
					<div class="timeline-line mt-1 mb-n6 mb-sm-n7"></div>
					<!--end::Timeline line-->
					<!--begin::Timeline icon-->
					<div class="timeline-icon">
						<i class="ki-duotone ki-cd fs-2 text-warning">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
					</div>
					<!--end::Timeline icon-->
					<!--begin::Timeline content-->
					<div class="timeline-content m-0">
						<!--begin::Title-->
						<span class="fs-6 text-gray-500 fw-semibold d-block">Departure</span>
						<!--end::Title-->
						<!--begin::Title-->
						<span class="fs-6 fw-bold text-gray-800">Damascuse-Center</span>
						<!--end::Title-->
					</div>
					<!--end::Timeline content-->
				</div>
				<!--end::Timeline item-->
				<!--begin::Timeline item-->
				<div class="timeline-item align-items-center">
					<!--begin::Timeline line-->
					<div class="timeline-line"></div>
					<!--end::Timeline line-->
					<!--begin::Timeline icon-->
					<div class="timeline-icon">
						<i class="ki-duotone ki-geolocation fs-2 text-warning">
							<span class="path1"></span>
							<span class="path2"></span>
						</i>
					</div>
					<!--end::Timeline icon-->
					<!--begin::Timeline content-->
					<div class="timeline-content m-0">
						<!--begin::Title-->
						<span class="fs-6 text-gray-500 fw-semibold d-block">Distination</span>
						<!--end::Title-->
						<!--begin::Title-->
						<span class="fs-6 fw-bold text-gray-800">Aleppo-Center</span>
						<!--end::Title-->
					</div>
					<!--end::Timeline content-->
				</div>
				<!--end::Timeline item-->
			</div>
			<!--end::Timeline-->
		</div>
		<!--end::Item-->

	</div>
	<!--end::Tap pane-->
    <!--begin::Separator-->
@*     <div class="separator separator-dashed my-6"></div>
 *@    <!--end::Separator-->
    @using System.Globalization
    @model ScheduledTripViewModel;


    <div class="border-gray-300 border-start   child-slide mb-8">

        <form class="js-ajax-form" method="post"
              data-url="/Trips/EditTripTiming"
              data-callback="addRowToTable"
              data-update-ui="true"
              data-updete="true">
            @*
            <input type="hidden" asp-for="TripId" />
            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="Status" />

            @if (Model.ReturnTripId != null)
            {
            <input type="hidden" asp-for="ReturnTripId" />
            <input type="hidden" asp-for="ReturnDate" />
            <input type="hidden" asp-for="ReturnStatus" />
            } *@

            <div class="d-flex align-items-center flex-wrap ">
                <div>


@* 
                    <div class="d-flex align-items-center mb-6 ms-6">
                        <!--begin::Bullet-->
                        <span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center min-h-70px mh-100 me-4 bg-warning"></span>
                        <!--end::Bullet-->
                        <!--begin::Info-->
                        <div class="flex-grow-1 me-5">
                            <!--begin::Time-->
                            <div class="text-gray-800 fw-semibold fs-2">
                                16:30 - 17:00
                                <span class="text-gray-500 fw-semibold fs-7">PM</span>
                            </div>
                            <!--end::Time-->
                            <!--begin::Description-->
                            <div class="text-gray-700 fw-semibold fs-6">Dashboard UI/UX Design Review</div>
                            <!--end::Description-->
                            <!--begin::Link-->
                            <div class="text-gray-500 fw-semibold fs-7">
                                Lead by
                                <!--begin::Name-->
                                <a href="#" class="text-primary opacity-75-hover fw-semibold">Lead by Bob</a>
                                <!--end::Name-->
                            </div>
                            <!--end::Link-->
                        </div>
                        <!--end::Info-->
                
                    </div>


 *@


                    <div class="d-flex align-items-center justify-content-center m-4">

                        <label for="" class="form-label me-2" style="white-space: nowrap;">Main Trip :</label>
                        <input asp-for="Time" class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick time" id="trip-time" type="text">
                    </div>

                    <div class="ms-5">
                        <div class="d-flex mt-7  ms-5">

                            @* 	<i class="ki-outline ki-watch  fs-2hx pe-2 "></i> *@


                            <div class="d-flex flex-column pe-0 pe-sm-10 mb-2 text-gray-800">
                                <!--begin::Title-->
                                <!--end::Title-->
                                <!--begin::Content-->
                                <span class="text-muted ">Times of scheduled trips at <span class="text-primary">date.</span></span>
                                <!--end::Content-->
                            </div>



                        </div>
                  
                    </div>

                </div>

                <div class=" align-self-start mt-5 mx-5">

                    <i class="ki-solid ki-arrow-right-left  text-dark-300 fs-2tx m-0 p-0  "></i>





                </div>


                <div>





                    <div class="d-flex align-items-center justify-content-center m-4">

                        <label for="" class="form-label me-2" style="white-space: nowrap;">Return Trip :</label>
                        <input asp-for="ReturnTime" class="form-control form-control-solid form-control-sm flatpickr-input" placeholder="Pick time" id="reverse-trip-time" type="text">
                    </div>

                    <div class="ms-5">
                        <div class="d-flex mt-7  ms-5">

                            @* 	<i class="ki-outline ki-watch  fs-2hx pe-2 "></i> *@


                            <div class="d-flex flex-column pe-0 pe-sm-10 mb-2 text-gray-800">
                                <!--begin::Title-->
                                <!--end::Title-->
                                <!--begin::Content-->
                                <span class="text-muted ">Times of scheduled trips at <span class="text-primary">date.</span></span>
                                <!--end::Content-->
                            </div>



                        </div>
            
                    </div>

                </div>

            </div>




            <div class="d-flex justify-content-end py-6 px-9">
                <button type="submit" class="btn btn-primary btn-sm ">Submit</button>
            </div>


        </form>


    </div>




</div>



<a href="#" class="js-previous-page">

	Back

</a>