








<div class="table-responsive">


    <table id="kt_datatable_dom_positioning" class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 scroll mt-5">
        <thead>
            <tr class="fw-bold fs-6 text-gray-800 px-7">
                <th>Main</th>
                <th></th>
                <th>Return</th>
                <th></th>
                <th>Actions</th>
        


            </tr>
        </thead>
        <tbody>



            <tr>

             
                <td>

                    <!--begin::Item-->
                    <div class="m-0">


                        <!--begin::Label-->
                        <!--begin::Title-->

                        <a href="#"
                           class="text-gray-900 fw-bold d-block text-hover-primary me-2">01 Apr 2025</a>
                           <div class="d-flex gap-2 mt-1">

							<span class="text-muted fw-semibold fs-7">8:00 am</span>
                            <span class="text-primary">Mon</span>


                           </div>
                   


                    </div>
                    <!--end::Item-->


                </td>
                <td>



                    <div class="d-flex mb-2">
                        <div class=" badge badge-light-warning fw-bold">Unassigned</div>


                    </div>
                    <!--end::Item-->

                </td>
                <td>
                    <!--begin::Item-->
                    <div class="m-0">

                        <a href="#"
                           class="text-gray-900 fw-bold d-block text-hover-primary me-2">01 Apr 2025</a>
                        <div class="d-flex gap-2 mt-1">

                            <span class="text-muted fw-semibold fs-7">13:00 pm</span>
                            <span class="text-primary">Mon</span>


                        </div>
                    </div>
                    <!--end::Item-->
                </td>
             

                <td>



                    <div class="d-flex mb-2">
                        <div class=" badge badge-light-warning fw-bold">Unassigned</div>


                    </div>
                    <!--end::Item-->

                </td>
                <td>

                    <div class="d-flex justify-content-start flex-shrink-0">
              
                        <a  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 js-table-chiled">
                            <i class="ki-duotone ki-pencil fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </a>
                        <a class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm">
                            <i class="ki-duotone ki-trash fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                            </i>
                        </a>
                    </div>

                </td>


            </tr>
            <tr>


                <td>

                    <!--begin::Item-->
                    <div class="m-0">


                        <!--begin::Label-->
                        <!--begin::Title-->

                        <a href="#"
                           class="text-gray-900 fw-bold d-block text-hover-primary me-2">02 Apr 2025</a>
                        <div class="d-flex gap-2 mt-1">

                            <span class="text-muted fw-semibold fs-7">8:00 am</span>
                            <span class="text-primary">Tue</span>


                        </div>



                    </div>
                    <!--end::Item-->


                </td>
                <td>



                   
                        <div class=" badge badge-light-warning fw-bold">Unassigned</div>


                

                </td>
                <td>

                    <div class=" badge badge-light-danger fw-bold mb-2">
                        <i class="ki-solid ki-cross   fs-3 text-danger"></i>
                        No Return Trip

                        


                    </div>
                </td>
                <td></td>
                <td>

                    <div class="d-flex justify-content-start flex-shrink-0">

                        <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 js-table-chiled">
                                <i class="ki-duotone ki-pencil fs-2 ">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                        </button>
                        <a href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm ">
                            <i class="ki-duotone ki-trash fs-2 js-table-chiled">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                            </i>
                        </a>
                    </div>


                </td>



            </tr>





        </tbody>
    </table>


</div>






