@model IEnumerable<StationTrackDTO>

<table id="Tracking_Table" class="table table-row-dashed table-row-gray-300 align-middle W-100 gs-0 gy-4">
	<thead>
		<tr class="fw-bold fs-6 text-gray-800 px-7">
			<th>Arrival Time</th>
			<th>Departure Time</th>
			<th>Status</th>
			<th></th>
			<th>Stations</th>
			<th></th>
			<th>Route</th>
			<th></th>
			<th>Actions</th>

		</tr>
	</thead>
	<tbody>

			@foreach (var track in Model)
		{

			<partial name="~/Views/Stations/_StationsTripsTrackRow.cshtml" model="@track" />
 



		} 



	

	</tbody>
</table>

