@{
	Layout = "_EmptyLayout";
}


<div class="alert alert-success d-flex align-items-center m-20 p-5 mb-10">
    <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"><span class="path1"></span><span class="path2"></span></i>                    <div class="d-flex flex-column">
        <h4 class="mb-1 text-success">Updates Confirmed</h4>
        <span>The trip edited successfully.</span>
    </div>
</div>