

<div class="row">

    <div class="row m-4">
        <div class="col-md-4">
            <select class="form-select form-select-sm  " 
                    aria-label="Small select example">
                <option selected></option>
            </select>
           @*  <span asp-validation-for="@Model.StationAId" class="text-danger"></span> *@
        </div>

 
        <div class="col-md-4">

            <button type="submit" class="btn btn-outline-primary ">Find</button>
        </div>

    </div>




