
<h2>Your Ticket Details</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Passenger:test</h5>
        <p class="card-text">Seat Number:test</p>
        <p class="card-text">Travel ID: vd</p>
        <p class="card-text">Booking Date: test</p>
        <p class="card-text">Price: test</p>
    </div>
</div>